.button {
    width: auto;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--bordersColor);
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: var(--boxShadowBase);
    font-weight: var(--fontWeightMedium);
    transition: 0.2s;
}
.button:hover {
    background-color: var(--primaryLight);
    box-shadow: var(--boxShadowEnhanced);
    transform: scale(1.01);
}
.button:active {
    box-shadow: none;
    background-color: var(--primaryDarker);
    transform: scale(1);
}

.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
}
